body {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

table td {
    padding-left: 50px;
    padding-top: 20px;
    color: black;
    text-align: justify;
    line-height: 70px;
}

h1 {
    text-align: center;
}

.profile {
    border-radius: 1000px;
}

form input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000px;
    border: black;
    border-radius: 30px;
    color: cyan;
    background-color: black;
    padding-top: 90px;
    margin-right: 50px;
    text-align: center;
    padding-bottom: 90px;
}

form button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000px;
    border: black;
    border-radius: 30px;
    color: cyan;
    background-color: black;
}

footer {
    background-color: black;
    color: white;
    margin-top: 50px;
}